{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Pessoas{% endblock %}

{% block content %}
<!-- Table -->
<div class="card mt-3">
    <div class="card-header">
        Pessoas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-responsive mb-0 text-center align-middle">
                <caption>Lista de pessoas</caption>
                <thead>
                    <tr class="align-middle">
                        <th scope="col">Nome</th>
                        <th scope="col">Data de nascimento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">CPF</th>
                        <th scope="col">RG</th>
                        <th scope="col">PCD</th>
                        <th scope="col">CNH</th>
                        <th scope="col">Primeiro emprego</th>
                        <th scope="col">Imagem</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Idiomas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                    <tr>
                        <td>{{ pessoa.nome }} {{ pessoa.sobrenome }}</td>
                        <td>{{ pessoa.data_de_nascimento|date:"d/m/Y" }}</td>
                        <td>{{ pessoa.get_sexo_display }}</td>
                        <td>{{ pessoa.cpf }}</td>
                        <td>{{ pessoa.rg }}</td>
                        <td>
                            {% if pessoa.e_pcd %}
                            Sim
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.possui_cnh %}
                            Sim - ({{ pessoa.get_categoria_da_cnh_display }})
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.e_primeiro_emprego %}
                            Sim
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.imagem %}
                            <a href="{{ pessoa.imagem.url }}" target="_blank" class="text-decoration-none">Link para imagem</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.contato.email %}
                            <a href="mailto:{{ pessoa.contato.email }}" class="text-decoration-none">{{ pessoa.contato.email }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.contato.telefone %}
                            <a href="tel:{{ pessoa.contato.telefone }}" class="text-decoration-none">{{ pessoa.contato.telefone }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.endereco.endereco %}
                            {{ pessoa.endereco.endereco }}<br>
                            {{ pessoa.endereco.numero }}<br>
                            {{ pessoa.endereco.complemento }}<br>
                            {{ pessoa.endereco.bairro }}<br>
                            {{ pessoa.endereco.cidade }}<br>
                            {{ pessoa.endereco.estado }}<br>
                            {{ pessoa.endereco.cep }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.idioma_set.all %}
                            {% for idioma in pessoa.idioma_set.all %}
                            {{ idioma.nome }} - {{ idioma.get_nivel_display }}<br>
                            {% endfor %}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}