{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Pessoas{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fas fa-plus me-1"></i>
    Adicionar pessoa
</button>

<!-- Modal -->
<div class="modal fade {% if form.errors %}show d-block{% endif %}" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <form action="" method="post" id="pessoaForm" novalidate>
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Informações Pessoais</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="container-fluid">
                        {{ form|crispy }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times me-1"></i>
                        Fechar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-1"></i>
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Table -->
<div class="card mt-3">
    <div class="card-header">
        Pessoas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-responsive mb-0 text-center align-middle">
                <caption>Lista de pessoas</caption>
                <thead>
                    <tr class="align-middle">
                        <th scope="col">Nome</th>
                        <th scope="col">Data de nascimento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">CPF</th>
                        <th scope="col">RG</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                    <tr>
                        <td>{{ pessoa.nome }} {{ pessoa.sobrenome }}</td>
                        <td>{{ pessoa.data_de_nascimento|date:"d/m/Y" }}</td>
                        <td>{{ pessoa.get_sexo_display }}</td>
                        <td>{{ pessoa.cpf }}</td>
                        <td>{{ pessoa.rg }}</td>
                        <td>
                            {% if pessoa.email %}
                            <a href="mailto:{{ pessoa.email }}" class="text-decoration-none">{{ pessoa.email }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.telefone %}
                            <a href="tel:{{ pessoa.telefone }}" class="text-decoration-none">{{ pessoa.telefone }}</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if pessoa.endereco %}
                            {{ pessoa.endereco }}, {{ pessoa.numero }} - {{ pessoa.bairro }}<br>
                            {{ pessoa.cidade }}/{{ pessoa.estado }} - {{ pessoa.cep }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script>
    $(document).ready(function() {
        // Se houver erros ao enviar o formulário, ao recarregar a página, o modal deve ser exibido apresentado os erros
        if ({{ form.errors|length }} > 0) {
            $('#exampleModal').modal('show');
        }

        // Limpar o formulário e remover as classes de erro ao fechar o modal
        $('#exampleModal').on('hidden.bs.modal', function (e) {
            $('#pessoaForm').find('.is-invalid').removeClass('is-invalid');
            $('#pessoaForm').find('.invalid-feedback').remove();
            $('#message').alert('close');
            $('#exampleModal').removeClass('show d-block');
            $('#pessoaForm')[0].reset();
        });

        // Quando abrir o modal, focar no primeiro campo
        $('#exampleModal').on('shown.bs.modal', function (e) {
            $('#id_nome').focus();
        });
    });
</script>

{% endblock javascript %}