{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Criar currículo{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<form action="" method="post" class="needs-validation" enctype="multipart/form-data" autocomplete="off" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>Currículo</legend>
        {{ curriculo_form|crispy }}
    </fieldset>
    <hr>
    <fieldset>
        <legend>Formações</legend>
        {{ formacao_formset.management_form }}
        <div id="formacao-forms">
            {% for form_formacao in formacao_formset %}
                <div class="formacao-formset-form">
                    {{ form_formacao|crispy }}
                </div>
            {% endfor %}
        </div>
        <!-- <button type="button" id="add-formacao" class="btn btn-primary w-100">Add Formação</button> -->
    </fieldset>
    <hr>
    <fieldset>
        <legend>Experiências</legend>
        {{ experiencia_formset.management_form }}
        <div id="experiencia-forms">
            {% for form_experiencia in experiencia_formset %}
                <div class="experiencia-formset-form">
                    {{ form_experiencia|crispy }}
                </div>
            {% endfor %}
        </div>
        <!-- <button type="button" id="add-experiencia" class="btn btn-primary w-100">Add Experiência</button> -->
    </fieldset>
    <hr>
    <fieldset>
        <legend>Habilidades</legend>
        {{ habilidade_formset.management_form }}
        <div id="habilidade-forms">
            {% for form_habilidade in habilidade_formset %}
                <div class="habilidade-formset-form">
                    {{ form_habilidade|crispy }}
                </div>
            {% endfor %}
        </div>
        <!-- <button type="button" id="add-habilidade" class="btn btn-primary w-100">Add Habilidade</button> -->
    </fieldset>
    <button type="submit" class="btn btn-dark w-100 mt-3">Salvar</button>
</form>

{% endblock content %}

{% block javascript %}
<script>
    // function addForm(prefix) {
    //     const totalForms = $(`#id_${prefix}-TOTAL_FORMS`);
    //     const formContainer = $(`#${prefix}-forms`);
    //     const formIndex = parseInt(totalForms.val(), 10);
    //     const newForm = formContainer.find('.formset-form').first().clone(false);

    //     // Update the name and id of each input field in the cloned form
    //     newForm.find(':input').each(function() {
    //         const name = $(this).attr('name').replace(/-\d+-/, `-${formIndex}-`);
    //         const id = $(this).attr('id').replace(/-\d+-/, `-${formIndex}-`);
    //         $(this).attr({ name, id }).val('');
    //     });

    //     const removeButton = $('<button type="button" class="btn btn-danger w-100 mb-3">Remove</button>');
    //     removeButton.click(function() {
    //         newForm.remove();
    //         const totalFormsValue = parseInt(totalForms.val(), 10) - 1;
    //         totalForms.val(totalFormsValue);

    //         // Adjust the indices of all the forms after the removed one
    //         formContainer.children('.formset-form').each(function(index) {
    //             $(this).find(':input').each(function() {
    //                 const name = $(this).attr('name').replace(/-\d+-/, `-${index}-`);
    //                 const id = $(this).attr('id').replace(/-\d+-/, `-${index}-`);
    //                 $(this).attr({ name, id });
    //             });
    //         });
    //     });
    //     newForm.append(removeButton);

    //     formContainer.append(newForm);
    //     totalForms.val(formIndex + 1);
    // }

    // $(document).ready(function() {
    //     $('#id_pessoa').select2();

    //     $('#add-formacao').click(function() {
    //         addForm('formacao');
    //     });
    //     $('#add-experiencia').click(function() {
    //         addForm('experiencia');
    //     });
    //     $('#add-habilidade').click(function() {
    //         addForm('habilidade');
    //     });
    // });
    $(document).ready(function() {
        $('#id_pessoa').select2({
            placeholder: 'Selecione uma pessoa',
            allowClear: true
        });

        $('.formacao-formset-form').formset({
            addText: 'Adicionar Formação',
            deleteText: 'Remover Formação',
            addCssClass: 'btn btn-primary w-100',
            deleteCssClass: 'btn btn-danger w-100 mb-3',
            prefix: '{{ formacao_formset.prefix }}'
        });

        $('.experiencia-formset-form').formset({
            addText: 'Adicionar Experiência',
            deleteText: 'Remover Experiência',
            addCssClass: 'btn btn-primary w-100',
            deleteCssClass: 'btn btn-danger w-100 mb-3',
            prefix: '{{ experiencia_formset.prefix }}'
        });

        $('.habilidade-formset-form').formset({
            addText: 'Adicionar Habilidade',
            deleteText: 'Remover Habilidade',
            addCssClass: 'btn btn-primary w-100',
            deleteCssClass: 'btn btn-danger w-100 mb-3',
            prefix: '{{ habilidade_formset.prefix }}'
        });
    });
</script>
{% endblock javascript %}